In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load in 

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the "../input/" directory.
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# Any results you write to the current directory are saved as output.

/kaggle/input/corona-virus-report/covid_19_clean_complete.csv
/kaggle/input/corona-virus-report/usa_county_wise.csv

In [3]:
# thanks to:
#https://www.kaggle.com/shawon10/covid-19-easy-data-analysis-for-beginners
import pandas as pd
import numpy as np
from sklearn import linear_model
from sklearn import metrics
%matplotlib inline 
from sklearn.utils import shuffle
import matplotlib.pyplot as plt
from numpy import array
from numpy import argmax
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OneHotEncoder
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.feature_extraction.text import TfidfTransformer
from sklearn.naive_bayes import MultinomialNB
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_selection import chi2
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
import seaborn as sns
import plotly.graph_objects as go
import plotly.express as px
import plotly.io as pio
pio.templates.default = "plotly_dark"

In [6]:
df=pd.read_csv('/kaggle/input/corona-virus-report/usa_county_wise.csv', na_filter=False)
df=df.drop(['UID'],axis=1)
df.head(10)

,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,Combined_Key,Date,Confirmed,Deaths
0,AS,ASM,16,60.0,,American Samoa,US,-14.271000,-170.132000,"American Samoa, US",1/22/20,0,0
1,GU,GUM,316,66.0,,Guam,US,13.444300,144.793700,"Guam, US",1/22/20,0,0
2,MP,MNP,580,69.0,,Northern Mariana Islands,US,15.097900,145.673900,"Northern Mariana Islands, US",1/22/20,0,0
3,PR,PRI,630,72.0,,Puerto Rico,US,18.220800,-66.590100,"Puerto Rico, US",1/22/20,0,0
4,VI,VIR,850,78.0,,Virgin Islands,US,18.335800,-64.896300,"Virgin Islands, US",1/22/20,0,0
5,US,USA,840,1001.0,Autauga,Alabama,US,32.539527,-86.644082,"Autauga, Alabama, US",1/22/20,0,0
6,US,USA,840,1003.0,Baldwin,Alabama,US,30.727750,-87.722071,"Baldwin, Alabama, US",1/22/20,0,0
7,US,USA,840,1005.0,Barbour,Alabama,US,31.868263,-85.387129,"Barbour, Alabama, US",1/22/20,0,0
8,US,USA,840,1007.0,Bibb,Alabama,US,32.996421,-87.125115,"Bibb, Alabama, US",1/22/20,0,0
9,US,USA,840,1009.0,Blount,Alabama,US,33.982109,-86.567906,"Blount, Alabama, US",1/22/20,0,0

In [15]:
#youngstown, ohio - Mahoning
youngstown_oh=df.loc[df['Admin2'] == 'Mahoning']
youngstown_oh.tail(5)

,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,Combined_Key,Date,Confirmed,Deaths
216795,US,USA,840,39099.0,Mahoning,Ohio,US,41.016311,-80.77287,"Mahoning, Ohio, US",3/28/20,80,2
220048,US,USA,840,39099.0,Mahoning,Ohio,US,41.016311,-80.77287,"Mahoning, Ohio, US",3/29/20,84,2
223301,US,USA,840,39099.0,Mahoning,Ohio,US,41.016311,-80.77287,"Mahoning, Ohio, US",3/30/20,117,4
226554,US,USA,840,39099.0,Mahoning,Ohio,US,41.016311,-80.77287,"Mahoning, Ohio, US",3/31/20,153,9
229807,US,USA,840,39099.0,Mahoning,Ohio,US,41.016311,-80.77287,"Mahoning, Ohio, US",4/1/20,177,10

In [16]:
# Montgomery, maryland
montgomery_md=df.loc[df['Combined_Key'] == 'Montgomery, Maryland, US']
montgomery_md.tail(5)

,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,Combined_Key,Date,Confirmed,Deaths
215910,US,USA,840,24031.0,Montgomery,Maryland,US,39.136763,-77.203582,"Montgomery, Maryland, US",3/28/20,255,1
219163,US,USA,840,24031.0,Montgomery,Maryland,US,39.136763,-77.203582,"Montgomery, Maryland, US",3/29/20,301,1
222416,US,USA,840,24031.0,Montgomery,Maryland,US,39.136763,-77.203582,"Montgomery, Maryland, US",3/30/20,341,1
225669,US,USA,840,24031.0,Montgomery,Maryland,US,39.136763,-77.203582,"Montgomery, Maryland, US",3/31/20,388,1
228922,US,USA,840,24031.0,Montgomery,Maryland,US,39.136763,-77.203582,"Montgomery, Maryland, US",4/1/20,447,1

In [13]:
# Pittsburg - Allegheny
pittsburg_pa=df.loc[df['Admin2'] == 'Allegheny']
pittsburg_pa.tail(5)

,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,Combined_Key,Date,Confirmed,Deaths
216948,US,USA,840,42003.0,Allegheny,Pennsylvania,US,40.468099,-79.981677,"Allegheny, Pennsylvania, US",3/28/20,219,2
220201,US,USA,840,42003.0,Allegheny,Pennsylvania,US,40.468099,-79.981677,"Allegheny, Pennsylvania, US",3/29/20,265,2
223454,US,USA,840,42003.0,Allegheny,Pennsylvania,US,40.468099,-79.981677,"Allegheny, Pennsylvania, US",3/30/20,290,2
226707,US,USA,840,42003.0,Allegheny,Pennsylvania,US,40.468099,-79.981677,"Allegheny, Pennsylvania, US",3/31/20,325,2
229960,US,USA,840,42003.0,Allegheny,Pennsylvania,US,40.468099,-79.981677,"Allegheny, Pennsylvania, US",4/1/20,356,2

In [25]:
#columbus, ohio - Franklin Delaware Fairfield 
# columbus_oh=df.loc[df['Admin2'] == 'Franklin' || df['Admin2'] == 'Delaware' df['Admin2'] == 'Fairfield']
columbus_oh=df.loc[(df['Combined_Key'] == 'Franklin, Ohio, US') | (df['Combined_Key'] == 'Delaware, Ohio, US') | (df['Combined_Key'] == 'Fairfield, Ohio, US')]
columbus_oh.tail(5)
#Virginia Beach City County, Virginia

,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,Combined_Key,Date,Confirmed,Deaths
226527,US,USA,840,39045.0,Fairfield,Ohio,US,39.751072,-82.630882,"Fairfield, Ohio, US",3/31/20,14,0
226529,US,USA,840,39049.0,Franklin,Ohio,US,39.969958,-83.011158,"Franklin, Ohio, US",3/31/20,325,3
229778,US,USA,840,39041.0,Delaware,Ohio,US,40.279424,-83.004571,"Delaware, Ohio, US",4/1/20,47,1
229780,US,USA,840,39045.0,Fairfield,Ohio,US,39.751072,-82.630882,"Fairfield, Ohio, US",4/1/20,22,0
229782,US,USA,840,39049.0,Franklin,Ohio,US,39.969958,-83.011158,"Franklin, Ohio, US",4/1/20,391,4

In [26]:
#Virginia Beach, Virginia
virginia_beach_va=df.loc[(df['Combined_Key'] == 'Virginia Beach, Virginia, US') | 
                         (df['Combined_Key'] == 'Chesapeake, Virginia, US') | 
                         (df['Combined_Key'] == 'Norfolk, Virginia, US')]
virginia_beach_va.tail(5)
#Chesapeake, Virginia
#chesapeake_va=df.loc[df['Combined_Key'] == 'Chesapeake, Virginia, US']
#chesapeake_va.tail(5)

,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,Combined_Key,Date,Confirmed,Deaths
227400,US,USA,840,51710.0,Norfolk,Virginia,US,36.899340,-76.264209,"Norfolk, Virginia, US",3/31/20,27,0
227411,US,USA,840,51810.0,Virginia Beach,Virginia,US,36.732857,-76.045669,"Virginia Beach, Virginia, US",3/31/20,65,1
230634,US,USA,840,51550.0,Chesapeake,Virginia,US,36.676700,-76.305457,"Chesapeake, Virginia, US",4/1/20,31,0
230653,US,USA,840,51710.0,Norfolk,Virginia,US,36.899340,-76.264209,"Norfolk, Virginia, US",4/1/20,33,0
230664,US,USA,840,51810.0,Virginia Beach,Virginia,US,36.732857,-76.045669,"Virginia Beach, Virginia, US",4/1/20,88,1

,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,Combined_Key,Date,Confirmed,Deaths
217622,US,USA,840,51550.0,Chesapeake,Virginia,US,36.6767,-76.305457,"Chesapeake, Virginia, US",3/28/20,7,0
220875,US,USA,840,51550.0,Chesapeake,Virginia,US,36.6767,-76.305457,"Chesapeake, Virginia, US",3/29/20,17,0
224128,US,USA,840,51550.0,Chesapeake,Virginia,US,36.6767,-76.305457,"Chesapeake, Virginia, US",3/30/20,18,0
227381,US,USA,840,51550.0,Chesapeake,Virginia,US,36.6767,-76.305457,"Chesapeake, Virginia, US",3/31/20,23,0
230634,US,USA,840,51550.0,Chesapeake,Virginia,US,36.6767,-76.305457,"Chesapeake, Virginia, US",4/1/20,31,0